# Function_Advance
* *args function for multiple value except dict
* **kwargs function for key, value
* lambda function
* iterable
* iterator

In [1]:
# multiple value call and return
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(34,56,76,787,878)

(34, 56, 76, 787, 878)

In [3]:
# multiple value call and return using *args
def test1(*args):
    return args

In [4]:
test1(45,56,78)

(45, 56, 78)

In [5]:
test1(45,34,"sudh" , 45.67)

(45, 34, 'sudh', 45.67)

In [6]:
test1([1,2,43,4,5] , (45,67,76,78) , "fsdf" , 345+7j)

([1, 2, 43, 4, 5], (45, 67, 76, 78), 'fsdf', (345+7j))

In [7]:
def test2(*sanow):
    return sanow

In [8]:
test2("fsdfsdf" ,345,"234234",345)

('fsdfsdf', 345, '234234', 345)

In [9]:
def test3(*sanow , a):
    return sanow , a

In [10]:
test3(34,56,767 , a = 6546)

((34, 56, 767), 6546)

In [11]:
def test4(*sanow , a,b,c,d):
    return sanow , a,b,c,d

In [12]:
test4(345,353,656,76 , a = [4,5,7,7,4] , b = [35445,65,65,56] , c= "dfsfs" , d = 345.656)

((345, 353, 656, 76), [4, 5, 7, 7, 4], [35445, 65, 65, 56], 'dfsfs', 345.656)

In [13]:
def test3( a , *sanow):
    return sanow , a

In [14]:
test3("fsadf" , 2354,54,56)

((2354, 54, 56), 'fsadf')

In [15]:
def test3( a , *sanow):
    return a,sanow

In [16]:
test3("fsadf" , 2354,54,56,a = "fsadf")

TypeError: test3() got multiple values for argument 'a'

In [17]:
def test5(a , *sanow , b ,c ):
    return a , sanow,b,c

In [18]:
test5("sfds" , [2,3,4,5] , 45,6,56,5,6,67,6,7,b = 6,c = 7)

('sfds', ([2, 3, 4, 5], 45, 6, 56, 5, 6, 67, 6, 7), 6, 7)

In [19]:
def test6(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [20]:
test6(45,67,67,76,[23,54,5,4,565656])

[[23, 54, 5, 4, 565656]]

In [21]:
test6(546,675,67567,567, [3,434,56,54] ,  [234,6,678] , "sdfs")

[[3, 434, 56, 54], [234, 6, 678]]

In [22]:
d = { "a" : [2,3,4,5,6] , 6  : [4,54,4,5,5,6]  }

In [23]:
d["a"]

[2, 3, 4, 5, 6]

In [24]:
#**kwargs return key, value 
def test7(**kwargs):
    return kwargs

In [25]:
test7(a = 345,b  = [45,5,54,6,6])

{'a': 345, 'b': [45, 5, 54, 6, 6]}

In [26]:
def test8(**sanow) :
    return sanow

In [27]:
test8(b = 787 , g = 235, f = [345,546,76,78,87,87])

{'b': 787, 'g': 235, 'f': [345, 546, 76, 78, 87, 87]}

In [28]:
test8(4= "sdfa")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1308003448.py, line 1)

In [29]:
def test9(**sanow) :
    return sanow

In [30]:
test9(name = "sanow"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com")

{'name': 'sanow',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com'}

In [31]:
test9(name = "sanow"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com" , adr = "fsasaffsa")

{'name': 'sanow',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com',
 'adr': 'fsasaffsa'}

In [32]:
def test10(a, **sanow):
    return sanow , a

In [33]:
test10(45,t = 67,b = 78,c = 7,d = 8,e = 78)

({'t': 67, 'b': 78, 'c': 7, 'd': 8, 'e': 78}, 45)

In [34]:
# need to maintain order like a, *, **
def test11(a, **sanow , *args):
    return sanow , a  , args

SyntaxError: invalid syntax (149054039.py, line 2)

In [35]:
def test12(a , *args, **kwargs) :
    return a , args, kwargs

In [36]:
test12(45,56,67,6,7,67,6,7,67, g = 5476,l=46)

(45, (56, 67, 6, 7, 67, 6, 7, 67), {'g': 5476, 'l': 46})

In [37]:
def test13(a,b):
    return a*b

In [38]:
test13(45,67)

3015

In [39]:
#lambda compression
# passing a and b value
a = lambda a ,b :(a*b  , a+b )

In [40]:
a(45,67)

(3015, 112)

In [41]:
a = lambda *a :a

In [42]:
a(56,67,78)

(56, 67, 78)

In [43]:
x=lambda *a:a*a

In [44]:
v = lambda *i : i**2

In [45]:
a=lambda a,b :(a*b,a+b)

In [46]:
a(4,5)

(20, 9)

In [48]:
#lambda expression with for loop
x = lambda x: (print(i)for i in x )

In [49]:
x = lambda x :[ i for i in x ]

In [50]:
x([4,5,6,6])

[4, 5, 6, 6]

In [51]:
l = [4,5,6,7,7,8]

In [52]:
l1 = []
for i in l :
    l1.append(i)

In [53]:
l1

[4, 5, 6, 7, 7, 8]

In [54]:
[i for i in l]

[4, 5, 6, 7, 7, 8]

In [55]:
x = lambda x :[ i for i in x ]

In [56]:
x([45,435,56,56,5])

[45, 435, 56, 56, 5]

In [57]:
a = lambda **kwargs : kwargs

In [58]:
a(a  = 45, b = 56)

{'a': 45, 'b': 56}

In [59]:
c = 10 
def test16(c , d ):
    c = 5
    return c*d

In [60]:
test16(10,50)

250

In [61]:
c

10

In [62]:
l = [1,2,3,4,56,78,7,88,7]
l1 = []
for i in l :
    l1.append(i+2)

In [63]:
l1

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [64]:
def test17(a) :
    l1 = []
    for i in a :
        l1.append(i+2)
    return l1

In [65]:
test17(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [66]:
a = lambda a : [i+2 for i in a ]

In [67]:
a(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [68]:
l

[1, 2, 3, 4, 56, 78, 7, 88, 7]

In [69]:
[(i**2,i+i) for i in l if i< 4 if i>1]

[(4, 4), (9, 6)]

In [70]:
l1 = []
for i in l :
    if i < 4 :
         l1.append((i**2 , i+i) )

In [71]:
l1

[(1, 2), (4, 4), (9, 6)]

In [72]:
#dictionary compression
d = {1:1 , 2 :4 , 3:9}

In [73]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [74]:
d1 = {}
for i in range(10) : 
    d1[i] = i**2

In [75]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [76]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [77]:
a = 56
for i in a :
    print(i)

TypeError: 'int' object is not iterable

In [78]:
s = "sanow"
for i in s :
    print(i)

s
a
n
o
w

In [79]:
next(s)

TypeError: 'str' object is not an iterator

In [80]:
s

'sanow'

In [83]:
#this is called iterator
b = iter(s)

In [84]:
b

In [85]:
next(b)

's'

In [86]:
next(b)

'a'

In [87]:
next(b)

'n'

In [88]:
# this is called iterable
s = "fdsfsf"
for i in s :
    print(i)

f
d
s
f
s
f

In [89]:
#this is called iterator
s = iter(s)

In [90]:
next(s)

'f'

In [91]:
next(s)

'd'

In [92]:
next(s)

's'

In [93]:
next(s)

'f'

In [94]:
next(s)

's'

In [95]:
next(s)

'f'

In [96]:
next(s)

StopIteration:

In [97]:
l = [3,4,5,6,6]

In [98]:
next(l)

TypeError: 'list' object is not an iterator

In [99]:
iter(45)

TypeError: 'int' object is not iterable

In [100]:
l

[3, 4, 5, 6, 6]

In [101]:
l = iter(l)

In [102]:
next(l)

3

In [103]:
next(l)

4

In [104]:
next(l)

5

In [105]:
next(l)

6

In [106]:
next(l)

6

In [107]:
next(l)

StopIteration:

In [114]:
list(l)

[]

In [115]:
def test6(*args):
    l =[]
    for i in args:
        if type(i)  == list:
            l.append(i)
    return l

In [116]:
test6(l)

[]

In [117]:
a={1:"a",2:"b",3:"c"}
up={4:"d"}
def insertion_beginning(dic,upk):
        upk.update(dic)
        print(upk)
        return upk
    
insertion_beginning(a,up)

{4: 'd', 1: 'a', 2: 'b', 3: 'c'}

{4: 'd', 1: 'a', 2: 'b', 3: 'c'}

In [118]:
def test21(d, e):
    c = 5 # local declaration
    d = 10
    return c*d

In [119]:
test21(4,5)

50

In [120]:
test21(50 , 45)

50

In [122]:
d={1: 1, 2: 4, 3: 9}

In [123]:
l = [3,4,5,6,76]

In [124]:
len(l)

5

In [125]:
def test(*ankit):
    for i in ankit:
        
        if type(i)==list:
            return ankit

In [126]:
test(345,56,56,56,5,6,56,56,[3,4,56,7,67,6,7])

(345, 56, 56, 56, 5, 6, 56, 56, [3, 4, 56, 7, 67, 6, 7])

In [127]:
l = [3,4,5,'t','t','t','t']
l.remove("t")

In [128]:
l

[3, 4, 5, 't', 't', 't']

In [129]:
l333=[[1, 2],
 (3+4j),
 [3, 'shubham', 'shubham'],
 [5, 'nandan'],
 ['srivastava'],
 [7, 8],
 [9, 10]]
for i in l333:
    if type(i)==list:
        j=0
        while j < len(i):
            if type(i[j])==str:
                i.remove(i[j])
                continue
                
            j=j+1

In [130]:
# this works
spam={'bar':100,'car':200}

for cat1,cat2 in spam.keys(),spam.values():
    print(cat1,cat2)

# this works
spam = {'bar': 100, 'car': 200}

for cat1, cat2 in spam,spam.keys():# also works with spam,spam.value()
    print(cat1, cat2)

# this would not work

spam = {'bar': 100, 'car': 200}

for cat1, cat2 in spam.keys(), spam.values():# also works with spam,spam.value()
    print(cat1, cat2)

bar car
100 200
bar car
bar car
bar car
100 200

In [131]:
for i in spam:
    print(i)

bar
car

In [132]:
spam.keys()

dict_keys(['bar', 'car'])

In [133]:
spam.values()

dict_values([100, 200])

In [134]:
d = lambda *a,b:[i+b for i in a ]
d(1,2, 3,b=5)

[6, 7, 8]

In [135]:
def power(n0,powr):
    """
    Power Function 
    """
    return int(n0) ** int(powr)

def add(n0,n1):
    """
    Addition Function
    """
    return int(n0) + int(n1)

def sub(n0,n1):
    """
    Subtraction Function
    """
    return int(n0) - int(n1)

def mul(n0,n1):
    """
    Multiplication Function
    """
    return int(n0) * int(n1)

def div(n0,n1):
    """
    Divison Function
    """
    try:
        return int(n0) / int(n1)
    except Exception as e:
        return e.__class__

In [138]:
#exception handling
def opr(function, n0, n1):
    """
    This function is used to call builtin functions like power, add, sub, mul, div
    Inputs are as follows function_name, Number 1 , Number 2
    """
    try:
        if(function == power or function == add or function == sub or function == mul or function == div):
            return function(n0, n1)
        elif (function == coc):
            return "check the function name"
    except NameError:
        return NameError
    except Exception as e1:    
        return e1.__class__

In [139]:
opr(a,3,3)

NameError

In [140]:
a

{1: 'a', 2: 'b', 3: 'c'}

In [141]:
l=[]
def test_nested_dict(d):

      
    for i in d:
        if type(d[i])==dict:
            test_nested_dict(d[i])
            
        else:
            l.append(d[i])

    return l

test_nested_dict({'x':0,'one':{'a':1,'b':2,'c':{'p':11,'q':22,'r':{'u':'UUUU','v':{'xx':90,'zz':'gyan'}
                                                      }
                                   }
                        },
                  'two':2222})

[0, 1, 2, 11, 22, 'UUUU', 90, 'gyan', 2222]

In [144]:
try:
    global l
    if len(l)!=0:
        pass
except:
    l=[]

In [145]:
#l=[]
def test_nested_dict(d):
    try:
        global l
        if len(l)!=0:
            pass
    except:
        l=[]
        
    for i in d:
        if type(d[i])==dict:
            test_nested_dict(d[i])
            
        else:
            l.append(d[i])

    return l

test_nested_dict({'x':0,
                  'one':{'a':1,'b':2,
                               'c':{'p':11,'q':22,'r':{'u':'UUUU',
                                                       'v':{'xx':90,'zz':'gyan'}
                                                      }
                                   }
                        },
                  'two':2222})

[0,
 1,
 2,
 11,
 22,
 'UUUU',
 90,
 'gyan',
 2222,
 0,
 1,
 2,
 11,
 22,
 'UUUU',
 90,
 'gyan',
 2222]

In [146]:
N= int(input("Enter the length of the dict"))
dict_var={}
for i in range(1,N+1):
    k = input("Enter the keys")
    v = input("Enter the values")
    
    print(keys)
   
    print(values)
    dict_var[k]=v
    #x = {"keys": values}
print(dict_var)

Enter the length of the dictk=34,v=45

ValueError: invalid literal for int() with base 10: 'k=34,v=45'

In [147]:
def test():
    i = 0
    while i< 4:
        yield i 
        i=i+1

In [148]:
[i for i in test()]

[0, 1, 2, 3]

In [150]:
N= int(input("Enter the length of the dict"))
dict_var={}
for i in range(1,N+1):
    k = input("Enter the keys")
    v = input("Enter the values")
    dict_var[k]=v
print(dict_var)

Enter the length of the dict4
Enter the keys4
Enter the values3
Enter the keys34
Enter the values56
Enter the keys8
Enter the values2
Enter the keys1
Enter the values2
{'4': '3', '34': '56', '8': '2', '1': '2'}